{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'global/custom.css' %}" rel="stylesheet">
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    Danke! Du kannst das Fenster nun schließen.
    <img src="{% static 'global/UIBK.png' %}" alt="UIBK" class="center" style="width:50%;height:30%;
 display: block; margin-left: auto;margin-right: auto;">
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}
{% endblock %}
