{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'global/custom.css' %}" rel="stylesheet">
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    Geschafft!
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper">

        <div class="instructions">
            <p>
                <b>Liebe Schülerin, lieber Schüler!</b>
            </p>
            <p>
                Vielen Dank für deine Teilnahme an unserem Fragebogen. Falls dich Fragebögen solcher Art begeistern und
                wir dein Interesse wecken konnten, kannst du gerne deine E-Mail im untenstehenden Feld für zukünftige Erhebungen
                hinterlegen. Damit können wir dich in Zukunft kontaktieren, wenn ein ähnliches Projekt wie dieses
                durchgeführt wird.
            </p>
            <p>E-Mail-Adresse für die Teilnahme an weiteren Fragebögen (optional):</p>
             <div class="input-group mb-3" style="width: 320px;">
                 <div class="input-group-append">
                     <span class="input-group-text" id="inputGroup-sizing-default ">E-Mail:</span>
                 </div>
                 <input type="email" class="form-control" step="any" placeholder="anna.musterschuelerin@tsn.at"
                        oninvalid="this.setCustomValidity('Dieses Feld muss entweder eine E-Mail-Adresse beinhalten oder leer sein.')"
                        oninput="this.setCustomValidity('')" name="e_mail_address">
             </div>
        </div>




        <div style="text-align: center">
        <button class="otree-btn-next btn btn-primary">Weiter</button>
        </div>

    </div>

{% endblock %}
