{% extends "global/Page.html" %}
{% load otree static %}

{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'Preferences/css/custom.css' %}" rel="stylesheet">
{% endblock %}



{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}

{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper">

       <!-- ------------------------------------------------------------------------------------------------------- -->
        <!-- Progress Bar -->
        <!-- ------------------------------------------------------------------------------------------------------- -->
        <label>
            Block {{ section }} von {{ section_total }}
        </label>
        <div class="progress">
            <div class="progress-bar-task" role="progressbar" style="width:{{ section_progress }}%;">
                <span class="sr-only"></span>
            </div>
        </div>

        <!-- ------------------------------------------------------------------------------------------------------- -->
        <!-- Progress Bar -->
        <!-- ------------------------------------------------------------------------------------------------------- -->
        <label>
            Aufgabe {{ page }} von {{ total }}
        </label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width:{{ progress }}%;">
                <span class="sr-only"></span>
            </div>
        </div>
        <div class="progress-vspace"></div>

        <!-- ------------------------------------------------------------------------------------------------------- -->
        <!-- Table - Time Preference task -->
        <!-- ------------------------------------------------------------------------------------------------------- -->
        <div class="card">
            <div class="card-header">
                Entscheidungsspiel 2)
            </div>
            <table class="table">
                <tr>
                    <td style="text-align: justify">
                        <p>
                            Stell dir vor, du kannst bei den nächsten 6 Entscheidungen wählen, ob du lieber heute 10€, oder
                            in 6 Monaten einen höheren Betrag erhalten möchtest. Der Betrag in 6 Monaten steigt dabei von
                            Entscheidung zu Entscheidung um 1€ an (von 11€ in der ersten Entscheidung bis zu 16€ in der
                            sechsten Entscheidung).
                        </p>
                        <p>
                            Bitte kreuze nun in jeder der Zeilen 1 bis 6 an, welche Variante (10€ heute oder den höheren
                            Betrag in 6 Monaten) du bevorzugst.
                        </p>
                        <p>
                            Du kannst dir die Frage auch so vorstellen, ab welchem Betrag du bereit wärst, 6 Monate auf die Zahlung zu warten.
                        </p>
                    </td>
                </tr>
            </table>
            <table class="table">
                <tr style="text-align: center;">
                    <th>Nr.</th>
                    <th>A: Betrag heute</th>
                    <th>A</th>
                    <th>B</th>
                    <th>B: Betrag in 6 Monaten</th>
                </tr>
                <tr style="text-align: center;">
                    <th>  1 </th>
                    <td>€10 heute </td>
                    <td style="padding-right: 14px"><input type="radio" name="time_preference_1" value="A" required></td>
                    <td style="padding-right: 14px"><input type="radio" name="time_preference_1" value="B" required></td>
                    <td>€11 in 6 Monaten </td>
                </tr>
                <tr style="text-align: center;">
                    <th>  2 </th>
                    <td>€10 heute </td>
                    <td style="padding-right: 14px"><input type="radio" name="time_preference_2" value="A" required> </td>
                    <td style="padding-right: 14px"><input type="radio" name="time_preference_2" value="B" required> </td>
                    <td>€12 in 6 Monaten </td>
                </tr>
                <tr style="text-align: center;">
                    <th>  3 </th>
                    <td>€10 heute </td>
                    <td style="padding-right: 14px"><input type="radio" name="time_preference_3" value="A" required> </td>
                    <td style="padding-right: 14px"><input type="radio" name="time_preference_3" value="B" required> </td>
                    <td>€13 in 6 Monaten </td>
                </tr>
                <tr style="text-align: center;">
                    <th>  4 </th>
                    <td>€10 heute </td>
                    <td style="padding-right: 14px"><input type="radio" name="time_preference_4" value="A" required> </td>
                    <td style="padding-right: 14px"><input type="radio" name="time_preference_4" value="B" required> </td>
                    <td>€14 in 6 Monaten </td>
                </tr>
                <tr style="text-align: center;">
                    <th>  5 </th>
                    <td>€10 heute </td>
                    <td style="padding-right: 14px"><input type="radio" name="time_preference_5" value="A" required> </td>
                    <td style="padding-right: 14px"><input type="radio" name="time_preference_5" value="B" required> </td>
                    <td>€15 in 6 Monaten </td>
                </tr>
                <tr style="text-align: center;">
                    <th>  6 </th>
                    <td>€10 heute </td>
                    <td style="padding-right: 14px"><input type="radio" name="time_preference_6" value="A" required> </td>
                    <td style="padding-right: 14px"><input type="radio" name="time_preference_6" value="B" required> </td>
                    <td>€16 in 6 Monaten </td>
                </tr>
            </table>
        </div>
    </div>
<div style="text-align: center">
  <button class="otree-btn-next btn btn-primary">Weiter</button>
</div>

{% endblock %}
