{% extends "global/Page.html" %}
{% load otree static %}

{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'Field_Behavior/css/custom.css' %}" rel="stylesheet">
{% endblock %}



{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}

{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper">

       <!-- ------------------------------------------------------------------------------------------------------- -->
        <!-- Progress Bar -->
        <!-- ------------------------------------------------------------------------------------------------------- -->
        <label>
            Block {{ section }} von {{ section_total }}
        </label>
        <div class="progress">
            <div class="progress-bar-task" role="progressbar" style="width:{{ section_progress }}%;">
                <span class="sr-only"></span>
            </div>
        </div>

        <!-- ------------------------------------------------------------------------------------------------------- -->
        <!-- Progress Bar -->
        <!-- ------------------------------------------------------------------------------------------------------- -->
        <label>
            Aufgabe {{ page }} von {{ total }}
        </label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width:{{ progress }}%;">
                <span class="sr-only"></span>
            </div>
        </div>
        <div class="progress-vspace"></div>

        <!-- ------------------------------------------------------------------------------------------------------- -->
        <!-- Table - Field Behavior and Perception Question -->
        <!-- ------------------------------------------------------------------------------------------------------- -->
         <div class="card">
            <div class="card-header">
                Bitte gib bei folgenden Aussagen an, wie zutreffend sie für dich sind:
            </div>
             <div style="padding: 5px 15px;">
                 <p>Ich glaube, dass ich in Zukunft keine finanziellen Probleme haben werde.</p>
             </div>

             <table class ="table">
                 <tbody>
                 <tr>
                     <td class="label_numbers">1</td>
                     <td class="label_numbers">2</td>
                     <td class="label_numbers">3</td>
                     <td class="label_numbers">4</td>
                     <td class="label_numbers">5</td>
                 </tr>

                 <tr>
                     <td align="center"> <input type="radio" name="financial_troubles" value="1" required> </td>
                     <td align="center"> <input type="radio" name="financial_troubles" value="2" required> </td>
                     <td align="center"> <input type="radio" name="financial_troubles" value="3" required> </td>
                     <td align="center"> <input type="radio" name="financial_troubles" value="4" required> </td>
                     <td align="center"> <input type="radio" name="financial_troubles" value="5" required> </td>
                 </tr>
                 </tbody>
             </table>

             <table class="table">
                 <tbody>
                 <tr>
                     <td class="label_descriptions">völlig unzutreffend</td>
                     <td class="label_descriptions">eher unzutreffend</td>
                     <td class="label_descriptions">teils-teils</td>
                     <td class="label_descriptions">eher zutreffend</td>
                     <td class="label_descriptions">völlig zutreffend</td>
                 </tr>
                 </tbody>
             </table>

                 <div style="padding: 5px 15px;padding-top: 30px">
                 <p>Ich glaube, dass ich in der Schule genügend über Finanzen lerne, um in der Zukunft gute finanzielle
                     Entscheidungen treffen zu können.</p>
             </div>

             <table class ="table">
                 <tbody>
                 <tr>
                     <td class="label_numbers">1</td>
                     <td class="label_numbers">2</td>
                     <td class="label_numbers">3</td>
                     <td class="label_numbers">4</td>
                     <td class="label_numbers">5</td>
                 </tr>

                 <tr>
                     <td align="center"> <input type="radio" name="fin_education_school" value="1" required> </td>
                     <td align="center"> <input type="radio" name="fin_education_school" value="2" required> </td>
                     <td align="center"> <input type="radio" name="fin_education_school" value="3" required> </td>
                     <td align="center"> <input type="radio" name="fin_education_school" value="4" required> </td>
                     <td align="center"> <input type="radio" name="fin_education_school" value="5" required> </td>
                 </tr>
                 </tbody>
             </table>

             <table class="table">
                 <tbody>
                 <tr>
                     <td class="label_descriptions">völlig unzutreffend</td>
                     <td class="label_descriptions">eher unzutreffend</td>
                     <td class="label_descriptions">teils-teils</td>
                     <td class="label_descriptions">eher zutreffend</td>
                     <td class="label_descriptions">völlig zutreffend</td>
                 </tr>
                 </tbody>
             </table>

                 <div style="padding: 5px 15px;padding-top: 30px">
                 <p>Ich glaube, dass ich von meinen Eltern genügend über Finanzen lerne, um in der Zukunft gute
                     finanzielle Entscheidungen treffen zu können.</p>
             </div>

             <table class ="table">
                 <tbody>
                 <tr>
                     <td class="label_numbers">1</td>
                     <td class="label_numbers">2</td>
                     <td class="label_numbers">3</td>
                     <td class="label_numbers">4</td>
                     <td class="label_numbers">5</td>
                 </tr>

                 <tr>
                     <td align="center"> <input type="radio" name="fin_education_parents" value="1" required> </td>
                     <td align="center"> <input type="radio" name="fin_education_parents" value="2" required> </td>
                     <td align="center"> <input type="radio" name="fin_education_parents" value="3" required> </td>
                     <td align="center"> <input type="radio" name="fin_education_parents" value="4" required> </td>
                     <td align="center"> <input type="radio" name="fin_education_parents" value="5" required> </td>
                 </tr>
                 </tbody>
             </table>

             <table class="table">
                 <tbody>
                 <tr>
                     <td class="label_descriptions">völlig unzutreffend</td>
                     <td class="label_descriptions">eher unzutreffend</td>
                     <td class="label_descriptions">teils-teils</td>
                     <td class="label_descriptions">eher zutreffend</td>
                     <td class="label_descriptions">völlig zutreffend</td>
                 </tr>
                 </tbody>
             </table>

             <p>

             </p>
        </div>
    </div>

<div style="text-align: center">
  <button class="otree-btn-next btn btn-primary">Weiter</button>
</div>
{% endblock %}
