{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'global/custom.css' %}" rel="stylesheet">
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper">
        <div class="instructions">
            In folgendem Block wirst du darum gebeten, dein Verhalten in verschiedenen Situationen anzugeben und
            wirst nach deiner Einschätzung in verschiedenen Bereichen gefragt.
            </div>
        </div>

    <div style="text-align: center">
        <button style="display: none" class="otree-btn-next btn btn-primary" onload="showStuff()" id="button">Weiter</button>
    </div>

<script>

        function showStuff() {
            my_button = document.getElementById("button")
            my_button.style.display = "block"
        }

        setTimeout(showStuff, 15000);
</script>

{% endblock %}

